<ion-header>
  <ion-toolbar color="danger">
    <ion-title>{{ profissional.nome }} {{ profissional.sobrenome }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-avatar class="avatar">
      <img src="https://i.pravatar.cc/300">
    </ion-avatar>
    <h4 class="ion-text-center">{{ profissional.nome }} {{ profissional.sobrenome }}</h4>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">Informações</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h5>Nome:</h5>
      <ion-label>{{ profissional.nome }} {{ profissional.sobrenome }}</ion-label>

      <!-- <h5>Idade:</h5>
      <ion-label>22 Anos</ion-label> -->

      <h5>Endereço:</h5>
      <ion-label>{{ profissional.endereco.rua }}, nº{{ profissional.endereco?.numero }} -
        {{ profissional.endereco.bairro }}</ion-label>

      <h5>Descrição:</h5>
      <span *ngFor="let dif_por of profissional.dados_trabalhador.diferenciais_porens">{{ dif_por }}<br></span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">Qualificações</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label *ngFor="let qual of profissional.dados_trabalhador.qualificacoes">
        {{ qual }}
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-button expand="full" shape="round" color="danger" (click)="chat(profissional)">Enviar Mensagem</ion-button>
  </ion-footer>

</ion-content>