<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoria?.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let profissional of filteredProfissionais">
      <ion-item (click)="detalhesProfissional(profissional)">
        <ion-avatar slot="start">
          <!-- <img (src)="profissional.imgProfile"> -->
          <ion-icon name="person" color="danger"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ profissional.nome }} {{ profissional.sobrenome }}</h2>
          <p *ngFor="let dif_po of profissional.dados_trabalhador.diferenciais_porens">{{ dif_po }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="mandarMensagem(profissional)" color="success">
          <ion-icon name="text" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>