<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">

  <div class="chat">

    <ion-card *ngFor="let message of messages"
      class="{{ message.senderUid == sender_id ? 'outcoming-message' : 'incoming-message' }}">
      <ion-card-header>
        <ion-card-title>{{ message.senderNome }}</ion-card-title>
        <ion-label>{{ message.timestamp | date:"medium" }}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <h2>{{ message.content }}</h2>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-item class="ion-padding-left">
      <ion-input type="text" [(ngModel)]="messageSend"></ion-input>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>