<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">e-mail</ion-label>
    <ion-input clearInput type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input clearInput type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="solid" color="success" (click)="login()" required
            disabled="{{ email == null || email == '' || senha == null || senha == '' }}">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" fill="outline" color="success" (click)="recover()" required>Esqueci Senha
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="block" fill="clear" color="tertiary" (click)="register()">Cadastrar-se</ion-button>
</ion-footer>