<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar-se Como Profissional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <h2>{{ user.nome }} {{ user.sobrenome }}</h2>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Categorias</ion-card-title>
      <ion-card-subtitle>Aqui é o espaço pra cadastrar o que você faz...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let categoria of user.dados_trabalhador?.categorias; let i = index">{{ categoria }}
        <ion-icon icon-only name="close-circle" slot="end" (click)="removeCategoria(i, categoria)"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-select (ionChange)="selectChange($event)">
          <ion-select-option selected value="{{ categoria }}"></ion-select-option>
          <ion-select-option *ngFor="let categoria of categorias">{{ categoria.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button color="success" (click)="addCategoria($event)">Adcionar</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Qualificações</ion-card-title>
      <ion-card-subtitle>Aqui é o espaço pra cadastrar suas formações...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let qualificacao of user.dados_trabalhador?.qualificacoes; let i = index">{{ qualificacao }}
        <ion-icon icon-only name="close-circle" slot="end" (click)="removeQualificao(i, qualificacao)"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Digite uma coisa e pressione adicionar..." [(ngModel)]="qualificacao">
        </ion-textarea>
        <ion-button color="success" (click)="addQualificacao($event)">Adcionar</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Diferenciais e Poréns</ion-card-title>
      <ion-card-subtitle>Aqui é o espaço pra colocar porquê você se destaca e algum porém...</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let dif_por of user.dados_trabalhador?.diferenciais_porens; let i = index">{{ dif_por }}
        <ion-icon icon-only name="close-circle" slot="end" (click)="removeDifPor(i, dif_por)"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Digite uma coisa e pressione adicionar..." [(ngModel)]="diferencia_porem">
        </ion-textarea>
        <ion-button color="success" (click)="addDifPor($event)">Adcionar</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="solid" color="tertiary" size="large">Finalizar</ion-button>
  </ion-toolbar>
</ion-footer>