<ion-menu side="start" menuId="menu" contentId="content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of itensMenu" (click)="onClickMenu(item)">
        <ion-icon name="{{ item.icon }}"></ion-icon>
        {{ item.name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar mode="ios" color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch($event)">
        <ion-icon icon-only name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="searchbar_hidden" color="light">
    <ion-searchbar placeholder="Pesquisar por Categoria" mode="md" (ionBlur)="onBlur($event)" [(ngModel)]="queryText"
      (ionInput)="filterCat($event)" clearinput>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-item-divider class="ion-padding" *ngFor="let cat of filteredCategorias" (click)="profissionaisCategoria(cat)">
    <ion-icon name="pricetags" color="danger"></ion-icon>
    <h4 class="ion-padding-start">{{ cat.nome }}</h4>
  </ion-item-divider>
</ion-content>