<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment scrollable [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="dadospessoais" checked>
      Dados Pessoais
    </ion-segment-button>
    <ion-segment-button value="endereco" disabled="{{ !dadosPessoaisPreenchidos }}">
      Endereco
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'dadospessoais'">
      <form [formGroup]="cadFormDadosPessoais" (submit)="onSubmitDadosPessoais()">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Sobrenome</ion-label>
          <ion-input type="text" formControlName="sobrenome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"x>Telefone</ion-label>
          <ion-input type="text" formControlName="telefone" (input)="inputOnCep($event)"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar senha</ion-label>
          <ion-input type="password" formControlName="confirmasenha"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="full"
          [disabled]="cadFormDadosPessoais.invalid || cadFormDadosPessoais.value.senha != cadFormDadosPessoais.value.confirmasenha">
          Próximo</ion-button>
      </form>
    </div>

    <div *ngSwitchCase="'endereco'">
      <form [formGroup]="cadFormEndereco" (submit)="onSubmitEndereco()">
        <h2>Bem vindo {{ user?.nome }} {{ user?.sobrenome }} Agora precisamos do seu endereço</h2>
        <!-- <ion-item>
          <ion-label position="floating">CEP</ion-label>
          <ion-input type="text" formControlName="cep" (input)="inputOnCep($event)"></ion-input>
        </ion-item> -->

        <ion-item>
          <ion-label position="floating">Cidade</ion-label>
          <ion-input type="text" formControlName="cidade" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bairro</ion-label>
          <ion-input type="email" formControlName="bairro"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Rua</ion-label>
          <ion-input type="text" formControlName="rua"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Número</ion-label>
          <ion-input type="number" formControlName="numero"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ponto de Referênci</ion-label>
          <ion-input type="text" formControlName="referencia"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="full" [disabled]="cadFormEndereco.invalid">Salvar</ion-button>
      </form>
    </div>
  </div>
</ion-content>